.loginFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm {
    background-color: var(--secondary);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px var(--accent);
}

.inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid var(--background);
    border-radius: 2px;
    font-size: 16px;
    box-sizing: border-box;
    color: black;
}

.labelField {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: var(--text);
}

.buttonField {
    width: 100%;
    padding: 12px;
    background-color: var(--primary);
    color: var(--text);
    border: none;
    font-size: 16px;
    cursor: pointer;

}

.signUp {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.signUp .link {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}