.vocabularyContainer {
    padding-top: 80px; 
    padding-bottom: 40px;
    text-align: center;

}

.flashcardContainer {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}
